<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Eleanor - Best wines from Bordeaux region</title>
    <!-- Bootstrap core CSS -->
    <link href="./view/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="./lib/font-awesome/css/font-awesome.min.css">

    <!-- Custom template style -->
    <link href="./view/css/style.css" rel="stylesheet">
  </head>
  <body>
