<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img alt="Eleanor" class="eleanor-brand-img" src="./view/img/eleanor-logo.png">
      </a>
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#desktop-menu" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div id="desktop-menu" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right navbar-winegallery-nav">
        <li><span><a class="btn btn-warning btn-navbar" type="button"><i class="fa fa-user-plus"></i> Create account</a></span></li>
        <li><a href="#">Login</a></li>
        <li><a href="#">Contact us</a></li>
        <li><a href="#"><i class="fa fa-facebook fa-lg fa-green"></i></a></li>
      </ul>
    </div>
  </div>
</nav>
