

  <div class="jumbotron winery-banner">
    <h1><span class="orange">The best</span> <br>Bordeaux wines</h1>
    <p class="text-header text-gray">directly from the producers</p>
      <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="list-page-search text-center">
              <form class="form-inline">
                <ul class="list-inline wine-colors-list">
                <li>
                  <div class="input-group">
                    <span class="input-group-addon" id="keywords"><i class="fa fa-search"></i></span>
                    <input type="text" class="form-control" placeholder="Search for..." aria-describedby="basic-addon1">
                  </div>
                </li>
                <li>
                    <div class="btn-group">
                      <button type="button" class="btn btn-default">Grapes (all)</button>
                      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="caret"></span>
                        <span class="sr-only">Toggle Dropdown</span>
                      </button>
                      <ul class="dropdown-menu grape-types-list">
                        <li><i class="fa fa-glass fa-wine-red" aria-hidden="true"></i> Red</li>
                        <li><input type="checkbox"/>&nbsp;Cabernet Franc</a></li>
                        <li><input type="checkbox"/>&nbsp;Cabernet Sauvignon</a></li>
                        <li><input type="checkbox"/>&nbsp;Malbec</a></li>
                        <li><input type="checkbox"/>&nbsp;Merlot</a></li>
                        <li role="separator" class="divider"></li>
                        <li><i class="fa fa-glass fa-wine-white" aria-hidden="true"></i> White</li>
                        <li><input type="checkbox"/>&nbsp;Sauvignon Blanc</a></li>
                        <li><input type="checkbox"/>&nbsp;Sauvignon Gris</a></li>
                        <li><input type="checkbox"/>&nbsp;Semillon</a></li>
                      </ul>
                    </div>
                  </li>
                  <li>
                      <div class="btn-group">
                        <button type="button" class="btn btn-default">Color (all)</button>
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <span class="caret"></span>
                          <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <ul class="dropdown-menu grape-types-list">
                          <li><input type="checkbox"/><i class="fa fa-glass fa-wine-red" aria-hidden="true"></i>&nbsp; Red</li>
                          <li><input type="checkbox"/><i class="fa fa-glass fa-wine-white" aria-hidden="true"></i>&nbsp; White</li>
                          <li><input type="checkbox"/><i class="fa fa-glass fa-wine-rose" aria-hidden="true"></i>&nbsp; Rose</li>
                        </ul>
                      </div>
                    </li>
                    <li>
                        <div class="btn-group">
                          <button type="button" class="btn btn-default">Price Range (all)</button>
                          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="caret"></span>
                            <span class="sr-only">Toggle Dropdown</span>
                          </button>
                          <ul class="dropdown-menu grape-types-list">
                            <li><input type="checkbox"/>&nbsp;up to 10€</li>
                            <li><input type="checkbox"/>&nbsp;10€ - 14.99€</li>
                            <li><input type="checkbox"/>&nbsp;15€ - 19.99€</li>
                            <li><input type="checkbox"/>&nbsp;20€ - 49.99€</li>
                            <li><input type="checkbox"/>&nbsp;50€ - 99.99€</li>
                            <li><input type="checkbox"/>&nbsp;100€ and up</li>
                          </ul>
                        </div>
                      </li>
                    <li><li><a class="btn btn-info" href="javascript:void(0);" id="product_list">Search</a></li></li>
                </ul>
                </form>
            </div>
        </div>
      </div>
  </div>
